<app-menu-title></app-menu-title>
<app-menu-bar></app-menu-bar>

<div class="menu_container">
    <div class="menu_left">
        <app-big-card
        Id="1"
        cardTitle="Novo estagiario contratado"
        cardPhoto="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d2836f18-0a08-463d-a23f-8dced8979c25/dgc2chj-1bbb70ab-c713-4ca5-b202-f6675845424b.jpg/v1/fill/w_1280,h_720,q_75,strp/satoru_gojo_jujutsu_kaisen_hd_wallpaper_1920x1080__by_gojosatoru991245_dgc2chj-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZDI4MzZmMTgtMGEwOC00NjNkLWEyM2YtOGRjZWQ4OTc5YzI1XC9kZ2MyY2hqLTFiYmI3MGFiLWM3MTMtNGNhNS1iMjAyLWY2Njc1ODQ1NDI0Yi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ooMUd05uTWHIKGXTjw1RfX11QQvfBJWOOLEM30lgjQU"
        cardDescription="desenolvedor amador pode ser contratado por avaliador de empresa. Estatisticas comprovam que 9 em 10 pessoas que veem este projeto dizem sim para contratar o estagiario"
        ></app-big-card>
    </div> 

    <div class="menu_right">
        <app-small-card

        Id="2"
        cardTitle="Jujutsu kaisen"
        cardDescription="testando novo painel para adicionar" 
        cardPhoto="https://w0.peakpx.com/wallpaper/194/589/HD-wallpaper-anime-jujutsu-kaisen-boy-hoodie-yuji-itadori.jpg"
        ></app-small-card>


        <app-small-card
        Id="3"
        cardTitle="Novo lançamento de Grand Chase é adiado"
        cardDescription="Desenvolvedores e grand chase afirmam que jogo é muito ruim para ser lançado agora"
        cardPhoto="https://sm.ign.com/ign_br/screenshot/default/grand-chase_p838.jpg"
        ></app-small-card>


        <app-small-card
        Id="4"
        cardTitle="Teste de grand chase ficou pra depois"
        cardDescription=" teste"
        cardPhoto="https://s2-techtudo.glbimg.com/BpTXZqe1RnwxAsG3U7kRW6C_9Mw=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/4/i/JdN1VDSferCADsnTXyOA/grand-chase-data-lancamento-the-squad.jpg"
        ></app-small-card>
    </div>
</div>